.timeline {
    position: relative;
    max-width: 80%; /* Adjust the maximum width as desired */
    margin: 0 auto;
    padding: 20px;
  }

  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 25px;
    width: 3px;
    height: 100%;
    background-color: #999;
    transform: translateX(-50%);
  }

  .timeline-item {
    position: relative;
    margin-bottom: 50px; /* Adjust the spacing between timeline items */
  }

  .timeline-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ff2d2d;
  }

  .timeline-content {
    padding-left: 30px; /* Adjust the indentation of the content */
  }

  .timeline-date {
    font-weight: bold;
    margin-bottom: 5px; /* Adjust the spacing between the date and content */
  }

  .timeline-description {
    background-color: rgba(153, 153, 153, 0.8);
    width: 70%;
    padding: 40px;
    padding-left: 30px;
    border-radius: 20px;
    margin-bottom: 10px; /* Adjust the spacing between the content */
    background: linear-gradient(to bottom, rgba(153, 153, 153, 0.8), rgba(153, 153, 153, 0.9)); 
  }

  .timeline-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px; /* Adjust the spacing between the title and description */
  }

  .timeline-description p:last-child {
    margin-bottom: 0; /* Remove the bottom margin of the last paragraph */
  }